@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Lato", sans-serif;
  border: none;
  scroll-behavior: smooth;
  list-style-type: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
  outline: none !important;
}


/*-------------------nav bar starts------------*/

nav {
  position: relative;
  top: 0;
  z-index: 10;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
  height: 77px;
  width: 100%;
  
  justify-content: space-between;
  -webkit-backdrop-filter: blur(1px);
  -moz-backdrop-filter: blur(1px);
  -ms-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.navbar-yellow {
  background-color: rgb(0,0,0, 0.6) !important;
  -webkit-backdrop-filter: blur(1px);
  -moz-backdrop-filter: blur(1px);
  -ms-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);

}

nav ul {
  height: 77px;
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  transition: 0.5s ease-in-out;
  -webkit-backdrop-filter: blur(1px);
  -moz-backdrop-filter: blur(1px);
  -ms-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

nav ul li {
  display: flex;
  align-items: center;
  transition: background-color 0.5s ease-in-out;
  height: 77px;
  -webkit-backdrop-filter: blur(1px);
  -moz-backdrop-filter: blur(1px);
  -ms-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

nav ul li a {
  display: block;
  padding: 0px 20px;
  color: black;
  transition: background-color 0.5s ease-in-out;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(1px);
  -moz-backdrop-filter: blur(1px);
  -ms-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.6);
  min-width: 200px;
  transition: 0.5s linear;
  top: 100%;
  left: 0;
  border-radius: 0% 0% 5% 5%;
  width: 100%;
  -webkit-backdrop-filter: blur(1px);
  -moz-backdrop-filter: blur(1px);
  -ms-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.dropdown-link {
  height: 77px;
}

.dropdown-content a {
  display: block;
  padding: 15px 25px;
  color: white;
  transition: 0.5s ease-in-out;
  -webkit-backdrop-filter: blur(1px);
  -moz-backdrop-filter: blur(1px);
  -ms-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: 0.5s linear;
  -webkit-backdrop-filter: blur(1px);
  -moz-backdrop-filter: blur(1px);
  -ms-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.scroll-container {
  height: 3000px;
  transition: background-color 0.5s ease-in-out;
}

/* Before 300px */
.navbar-before-300px {
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: transparent;
  transition: 0.5s linear;
  -webkit-backdrop-filter: blur(1px);
  -moz-backdrop-filter: blur(1px);
  -ms-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.navbar-before-300px ul li a {
  color: white;
  transition: 0.5s linear;
  -webkit-backdrop-filter: blur(1px);
  -moz-backdrop-filter: blur(1px);
  -ms-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

/* After 300px */
.navbar-after-300px {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: rgb(0, 0, 0, 0.6);
  transition: 0.5s linear;
  -webkit-backdrop-filter: blur(1px);
  -moz-backdrop-filter: blur(1px);
  -ms-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.navbar-after-300px ul li a {
  color: white;
  transition: 0.5s linear;
  -webkit-backdrop-filter: blur(1px);
  -moz-backdrop-filter: blur(1px);
  -ms-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.dropdown-link.dropdown-hover,
.navbar-yellow,
.dropdown-content:hover {
  background-color: rgb(0, 0, 0, 0.6);
  transition: 0.5s linear;
  -webkit-backdrop-filter: blur(1px);
  -moz-backdrop-filter: blur(1px);
  -ms-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.dropdown-content a:hover {
  color: white;
  transition: 0.5s linear;
  -webkit-backdrop-filter: blur(1px);
  -moz-backdrop-filter: blur(1px);
  -ms-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.logo01 {
  width: 230px;
  height: 37px;
}

/*-----mobile navbar---------*/

.nav-mob {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.6);
  height: 11vh;
  width: 100%;
  z-index: 1;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  backface-visibility: hidden;
  transform: translateZ(0px);
  transition: 0.3s;
}

.mob_nav_logo img {
  width: 250px;
  height: 43px;
  margin: auto;
}

.burger {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
  padding: 0;
  width: 82px;
  height: 82px;
  font-size: 30px;
  color: #f9f9f9;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.burger i:last-child {
  display: none;
}

body.open .burger i:first-child {
  display: none;
}

body.open .burger i:last-child {
  display: block;
}

.overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(27 32 44 / 70%);
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(6px);
  transition: 0.3s;
}

body.open .overlay {
  visibility: visible;
  opacity: 1;
}



.nav-mob button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

aside {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  padding: 60px 55px 25px 25px;
  background-color: rgb(0, 0, 0, 0.6);
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  translate: 100% 0;
  transition: 0.3s;
}

body.open aside {
  translate: 0;
}

aside a {
  display: flex;
  align-items: center;
  height: 70px;
  font-size: 20px;
  cursor: pointer;
}


/*----------------- button ------------------*/

.cta {
  border: none;
  background: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.cta span {
  padding-bottom: 3px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 5px;
  text-transform: lowercase;
  display: inline-block;
  transition: all 0.7s ease;
  color: #fff;
}

.cta:hover span,
.cta:focus span {
  transform: translateX(4px);
  transition: all 0.7s ease;
}

.cta:active span {
  transform: scale(0.9);
}

.cta svg {
  transform: translateX(0);
  transition: all 0.5s ease;
}

.cta:hover svg,
.cta:focus svg {
  transform: translateX(10px);
}

.cta:active svg {
  transform: scale(0.9);
}

/*-------------------------------- before about us ------------------------------*/
.beforeabout{
  height: 77vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/contact_us.png);
  background-size: cover ;
  background-position: center center;
  display: flex;
  justify-content:end;
  align-items:center;
  flex-direction:column;
  text-align: center;
}

.beforeabout h3{
  color: #fff;
  font-size: 60px;
  line-height: 80px;
  font-weight: 300;
  letter-spacing: 1.8px;
  text-transform: lowercase;
  padding-bottom: 10px;
}

.beforeabout h4{
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: lowercase;
  padding-bottom: 30px;
}


.smoothscroll{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}
.scroll-down {
	display: block;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	text-shadow: 0;
	width: 15px;
	height: 15px;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	z-index: 1;
	-webkit-transform: translate(-50%, 0%) rotate(45deg);
	-moz-transform: translate(-50%, 0%) rotate(45deg);
	transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 2s ease-in-out infinite;
	-moz-animation: fade_move_down 2s ease-in-out infinite;
	animation: fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
 0% {
-webkit-transform:translate(0, -10px) rotate(45deg);
opacity: 0;
}
 50% {
opacity: 1;
}
 100% {
-webkit-transform:translate(0, 10px) rotate(45deg);
opacity: 0;
}
}
@-moz-keyframes fade_move_down {
 0% {
-moz-transform:translate(0, -10px) rotate(45deg);
opacity: 0;
}
 50% {
opacity: 1;
}
 100% {
-moz-transform:translate(0, 10px) rotate(45deg);
opacity: 0;
}
}
@keyframes fade_move_down {
 0% {
transform:translate(0, -10px) rotate(45deg);
opacity: 0;
}
 50% {
opacity: 1;
}
 100% {
transform:translate(0, 10px) rotate(45deg);
opacity: 0;
}
}

/*----------------- contactus ------------------*/

.spacebetween {
  height: 30px;
  width: 100%;
  background: white;
}

.container {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdfdfd;
}

.contmain{
  height:500px;
  width: 1100px;
  
  gap:2vw;
  display: flex;
  align-items: center;
  justify-content: center;

}
.first {
  width: 300px;
  height: 480px;
 
  display: flex;
  flex-direction: column;
  
  align-items: center;
  text-align: justify;
}

.headingfirstmain {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;

}

.headingfirsthead{
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1.8px;
  
}

.parafirstmain{
  align-items: center;
  text-align: center;
  display: flex;

  width: 260px;
  height: 160px;

}
.parafirst{
  font-size: 15px;
  color: #000000;
  line-height: 23.334px;
  letter-spacing: normal;
  font-weight: 300;
  
  text-align: justify;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 260px;
  height: 150px;
}
.listitems {

  width: 260px;
  height: 40px;
}

.listitems a {
  font-size: 15px;
  color: #000000;
  line-height: 23.334px;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: justify;
}


.second {
  width: 400px;
  height: 480px;

  
  justify-content: center;
  align-items: center;
  text-align: justify;
  
}
.form01 {
  align-items: center;
  display: flex;
  justify-content: center;
  
}

.secondmainhead{
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.secondmainhead h3{
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1.8px;
}

/*=------------------------------------  form ------------===*/
.form {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 350px;
  background-color: white;
  padding: 20px;
  border-radius: 0px;
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.message {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 390;
}

.form label .input:valid + span {
  color: green;
}

.input01 {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}

.form label .input01 + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input01:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}

.form label .input01:focus + span,
.form label .input01:valid + span {
  top: 50px;
  font-size: 0.7em;
  font-weight: 390;
}

.form label .input01:valid + span {
  color: green;
}

.fancy {
  background-color: transparent;
  border: 2px solid #b0b1b4;
  border-radius: 0px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  float: none;
  font-weight: 390;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.7rem;
  height: 2px;
  background: #b0b1b4;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-30%);
  transform: translateX(270%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  text-align: center;
  font-size: 1.125em;
  width: fit-content;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: lowercase;
  text-decoration: none;
  color: #818181;
  transform: translateX(30%);
  font-weight: 400;
  position: relative;
  left: 50px;
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: white;
  background: #f4f4f4;
}

.fancy:hover::before {
  width: 1.5rem;
  background: #818181;
}

.fancy:hover .text {
  color: #818181;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}
/*=------------------------------------  form end------------===*/
.third {
  width: 300px;
  height: 480px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.headingthirdmain{
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;

}

.headingforcontact{
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1.8px;
}
.parathirdmain{
  justify-content: center;
  align-items: center;
  display: flex;
  width: fit-content;
  width: 260px;
  height: 160px;
  
}

.parathirdmain p{
  font-size: 15px;
  color: #000000;
  line-height: 23.334px;
  letter-spacing: normal;
  font-weight: 300;
  text-align:justify;
  
}


.maps01 {
  display: flex;
  justify-content: center;
  margin: auto;
  filter: grayscale(90%);
}

/*------------------------------footer------------------*/
.footer-main{
  background: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02)), url(images/sfoot.png);
  background-repeat: repeat-x;
  background-size:cover;
  text-align: center;

}

.footer-main .icons{
  padding: 32px;

}

.footer-main .icons a{
  height: 40px;
  width: 40px;
  line-height:40px;
  text-align: center;
  font-size: 20px;
  color: #6f6f6f;
  border-radius: 50%;
  border: 1.2px solid  #6f6f6f;
  margin: 0 10px;
  transition: all 0.7s ease;
}

.footerdis{
  display: flex;
  justify-content: center;
  align-items:center ;
  text-align: center;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 2px;
}

.footer-main .icons a:hover{
  color: white;
    border: 1.2px solid  #6f6f6f;

}

.facebook:hover{
  transform: translateY(-4px);
  background-color: #3b5998;
  transition: all 0.7s ease;
  
}


.whatsapp:hover{
  transform: translateY(-4px);
  background-color: #4ac157;
  transition: all 0.7s ease;
  color: white;
}


.envelope:hover{
  transform: translateY(-4px);
  background-color: #ea4335;
  transition: all 0.7s ease;
  
}


.instagram:hover{
  transform: translateY(-4px);

  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
  transition: all 0.7s ease;
}


.linkedin:hover{
  transform: translateY(-4px);
  background-color: #0177b5;
  transition: all 0.7s ease;
 
}

.footer-right01 a{
  color: black;
}




/*-----------*/

.cta1212 {
    border: 1.2px solid  #6f6f6f;

  background: none;
  cursor: pointer;
  display: inline-block; 
  position: relative; 
  height: 40px;
  width: 180px;
  padding: 0px 0 0 25px;
  color: #000;
}

.cta1212 span {
  letter-spacing: 4px;
  font-size: 14px;
  text-transform: lowercase;
  display: inline-block;
  transition: all 0.7s ease;
  padding-bottom:16px;
  padding-left:5px;
  color: #000;
}

.cta1212:hover span,
.cta1212:focus span {
  transform: translateX(4px);
  transition: all 0.7s ease;
}

.cta1212:active span {
  transform: scale(0.9);
  
}

.cta1212 svg {
  transform: translateX(-4px);
  position: relative;
  top: 6px;
  transition: all 0.5s ease;
	
}

.cta1212:hover svg,
.cta1212:focus svg {
  transform: translateX(0);
}

.cta1212:active svg {
  transform: scale(0.9);
}


/*----------------small phone---------
-----------------------------------------*/

@media screen and (max-width: 450px) and (min-width: 10px){

 .nav {
    display: none;
  }

  .navmobile {
    display: block;
  }

  .nav-mob{
    height:55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mob_nav_logo img{
    width: 130px;
    height: 23px;
    margin: auto;
  }

  .burger {
    padding-top: 5px;
    width: 45px;
    height: 45px;
    font-size: 18px;
  }

  aside {
    width: 270px;
    height: 100%;
    padding: 60px 55px 25px 65px;
  }

  .beforeabout{
    height: 300px;
    width: 100%;
    background-size: fit-content ;
    background-position: center center;
    display: flex;
    justify-content:end;
    align-items:center;
    flex-direction:column;
    text-align: center;
  }

  .beforeabout h3{
    color: #fff;
    font-size: 28px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 1.8px;
    text-transform: lowercase;
  }

  .beforeabout h4{
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: lowercase;
    padding-bottom: 10px;
  }
  
  .container {
    height: auto;
    width: 100%;
  
  }
  .contmain{
    flex-direction: column;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .first {
    width: 100%;
    height: 280px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }
  .headingfirstmain {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;

  }

  .headingfirsthead{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .parafirstmain{
    align-items: center;
    text-align: center;
    display: flex;

    width: 280px;
    height: 100px;

  }
  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 280px;
    height: 150px;
  }
  .listitems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
  }

  .listitems a {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: justify;
  }
  .parafirst{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: justify;
  }


  .second{
    margin-top: 20px;
    width: 100%;
    height: 480px;
 
    justify-content: center;
    align-items: center;
    text-align: justify;
  }

  .secondmainhead h3{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1.8px;
  }

  .third {
    margin-top: 20px;
    width: 100%;
    height: 440px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }
  .headingthirdmain{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;

  }

  .headingforcontact{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
  }
  .parathirdmain{
    align-items: center;
    text-align: center;
    display: flex;

    width: 220px;
    height: 120px;

  }
  .address{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: justify;
  }


  .footer-main .icons{
    padding: 35px;
  }

  .footer-main .icons a{
    height: 38px;
    width: 38px;
    padding-bottom: 10px;
    line-height:35px;
    text-align: center;
    font-size: 1.2rem;
    color: #6f6f6f;
    border-radius: 50%;
    border: 1.2px solid  #6f6f6f;
    margin: 0 2px;
    transition: all 0.7s ease;
  }
  .footer-main .icons{
    padding: 25px;
  }

  .footer-main .icons a{
    height: 35px;
    width: 35px;
    padding-bottom: 10px;
    line-height:35px;
    text-align: center;
    font-size: 1.2rem;
    color: #6f6f6f;
    border-radius: 50%;
    border: 1.2px solid  #6f6f6f;
    margin: 0 8px;
    transition: all 0.7s ease;
  }

}



@media screen and (max-width: 740px) and (min-width: 450px){
  .nav {
    display: none;
  }
  .nav-mob {
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navmobile {
    display: block;
  }

  .mob_nav_logo img{
    width: 135px;
    height: 23px;
    margin: auto;
  }

  .burger {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }

  aside {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    padding: 40px 35px 25px 45px;
    background-color: rgb(0, 0, 0, 0.6);
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    translate: 100% 0;
    transition: 0.3s;
  }


  .beforeabout{
    height: 400px;
    width: 100%;
    background-size: fit-content ;
    background-position: bottom bottom;
    display: flex;
    justify-content:end;
    align-items:center;
    flex-direction:column;
    text-align: center;
  }

  .beforeabout h3{
    color: #fff;
    font-size: 26px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 1.8px;
    text-transform: lowercase;
    
  }

  .beforeabout h4{
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: lowercase;
    padding-bottom: 10px;
  }


  .container {
    height: auto;
    width: 100%;

  }
  .contmain{
    gap:7vw;
    flex-wrap: wrap;
    height: 740px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
   overflow: hidden;
  }
  .first {
    width: 280px;
    height: 280px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-top: 20px;
  }

  .headingfirstmain {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
   
  }

  .headingfirsthead{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .parafirstmain{
    margin-top: 30px;
    align-items: center;
    text-align: center;
    display: flex;
    width: 240px;;
    height: 100px;

  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    width: 280px;
    height: 150px;
  }

  .listitems {
    
    width: 200px;
    height: 40px;
  }

  .listitems a {
    color: #000000;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: justify;
  }
  .parafirst{
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: justify;
  }


  .second{
    margin-top: 20px;
    width: 360px;
    height: fit-content;
    
    justify-content: center;
    align-items: center;
    text-align: justify;
  }

  .secondmainhead h3{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .headingforcontact{
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 5px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 28px;
    max-width: 350px;
    background-color: white;
    padding: 20px;
    border-radius: 0px;
    position: relative;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-top: -20px;
  }
  .input01{
    padding: 30px;
    height: 285px;
  }

  .form label .input01 + span {
    position: absolute;
    left: 10px;
    top: 250px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }

  .form label .input01:placeholder-shown + span {
    top: 280px;
    font-size: 0.9em;
  }

  .form label .input01:focus + span,
  .form label .input01:valid + span {
    top: 260px;
    font-size: 0.7em;
    font-weight: 390;
  }
  

  .third {
    width: 280px;
    height: 400px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    
    position: relative;
    top: -430px;
    right: 200px;
  }

  .headingthirdmain{
    display: none; 
  }

  .parathirdmain{
    margin-top: -20px;
    align-items: center;
    text-align: center;
    display: flex;
    
    width: 240px;
    height: 120px;

  }
  .address{
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: justify;
    
  }

  .footer-main .icons{
    padding: 26px;
  }

  .footer-main .icons a{
    height: 34px;
    width: 34px;
    padding-bottom: 10px;
    line-height:32px;
    text-align: center;
    font-size: 16px;
    color: #6f6f6f;
    border-radius: 50%;
    border: 1.2px solid  #6f6f6f;
    margin: 0 4px;
    transition: all 0.7s ease;
  }

}

/*----------------tablet ipad mini---------
-----------------------------------------*/

@media screen and (max-width: 821px) and (min-width: 741px){
  
  .nav {
    display: none;
  }
  .nav-mob {
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navmobile {
    display: block;
  }

  .mob_nav_logo img{
    width: 180px;
    height: 32px;
    margin: auto;
    
  }

  .burger {
    width: 82px;
    height: 72px;
    font-size: 22px;
  }

  aside {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    padding: 80px 55px 25px 85px;
    background-color: rgb(0, 0, 0, 0.6);
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    translate: 100% 0;
    transition: 0.3s;
  }

  .beforeabout{
    height: 400px;
    width: 100%;
    background-size: fit-content ;
    background-position: bottom bottom;
    display: flex;
    justify-content:end;
    align-items:center;
    flex-direction:column;
    text-align: center;
  }

  .beforeabout h3{
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 1.8px;
    text-transform: lowercase;
    
  }

  .beforeabout h4{
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: lowercase;
    padding-bottom: 10px;
  }

  .container {
    height: auto;
    width: 100%;

  }
  .contmain{
    gap:7vw;
    flex-wrap: wrap;
    height: 740px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
   overflow: hidden;
  }
  .first {
    width: 280px;
    height: 280px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-top: 20px;
  }

  .headingfirstmain {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
   
  }

  .headingfirsthead{
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .parafirstmain{
    margin-top: 30px;
    align-items: center;
    text-align: center;
    display: flex;
    width: 240px;;
    height: 100px;

  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    width: 280px;
    height: 150px;
  }

  .listitems {
    
    width: 200px;
    height: 40px;
  }

  .listitems a {
    color: #000000;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: justify;
  }
  .parafirst{
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: justify;
  }


  .second{
    margin-top: 20px;
    width: 360px;
    height: fit-content;
    
    justify-content: center;
    align-items: center;
    text-align: justify;
  }


  .headingforcontact{
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 5px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 28px;
    max-width: 350px;
    background-color: white;
    padding: 20px;
    border-radius: 0px;
    position: relative;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-top: -20px;
  }
  .input01{
    padding: 30px;
    height: 285px;
  }

  .form label .input01 + span {
    position: absolute;
    left: 10px;
    top: 250px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }

  .form label .input01:placeholder-shown + span {
    top: 280px;
    font-size: 0.9em;
  }

  .form label .input01:focus + span,
  .form label .input01:valid + span {
    top: 260px;
    font-size: 0.7em;
    font-weight: 390;
  }
  

  .third {
    width: 280px;
    height: 400px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    
    position: relative;
    top: -430px;
    right: 200px;
  }

  .headingthirdmain{
    display: none; 
  }

  .parathirdmain{
    margin-top: -20px;
    align-items: center;
    text-align: center;
    display: flex;
    
    width: 240px;
    height: 120px;

  }
  .address{
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: justify;
    
  }

}


@media screen and (max-width: 1201px) and (min-width: 821px){
  
  .nav {
    display: block;
  }

  .navmobile {
    display: none;
  }

  nav {
    position: relative;
    top: 0;
    z-index: 10;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    -webkit-backdrop-filter: blur(1px);
    -moz-backdrop-filter: blur(1px);
    -ms-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }

  nav ul {
    height: 70px;
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    transition: 0.5s ease-in-out;
    -webkit-backdrop-filter: blur(1px);
    -moz-backdrop-filter: blur(1px);
    -ms-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }

  nav ul li {
    display: flex;
    align-items: center;
    transition: background-color 0.5s ease-in-out;
    height: 70px;
    -webkit-backdrop-filter: blur(1px);
    -moz-backdrop-filter: blur(1px);
    -ms-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }

  nav ul li a {
    display: block;
    padding: 0px 20px;
    color: black;
    transition: background-color 0.5s ease-in-out;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-backdrop-filter: blur(1px);
    -moz-backdrop-filter: blur(1px);
    -ms-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }

  .dropdown {
    position: relative;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.6);
    min-width: 200px;
    transition: 0.5s linear;
    top: 100%;
    left: 0;
    border-radius: 0% 0% 5% 5%;
    width: 100%;
    -webkit-backdrop-filter: blur(1px);
    -moz-backdrop-filter: blur(1px);
    -ms-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }

  .dropdown-link {
    height: 70px;
  }

  .dropdown-content a {
    display: block;
    padding: 15px 25px;
    color: white;
    transition: 0.5s ease-in-out;
    -webkit-backdrop-filter: blur(1px);
    -moz-backdrop-filter: blur(1px);
    -ms-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }

  .dropdown:hover .dropdown-content {
    display: block;
    transition: 0.5s linear;
    -webkit-backdrop-filter: blur(1px);
    -moz-backdrop-filter: blur(1px);
    -ms-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }

  .scroll-container {
    height: 3000px;
    transition: background-color 0.5s ease-in-out;
  }

  /* Before 300px */
  .navbar-before-300px {
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: transparent;
    transition: 0.5s linear;
    -webkit-backdrop-filter: blur(1px);
    -moz-backdrop-filter: blur(1px);
    -ms-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }

  .navbar-before-300px ul li a {
    color: white;
    transition: 0.5s linear;
    -webkit-backdrop-filter: blur(1px);
    -moz-backdrop-filter: blur(1px);
    -ms-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }

  /* After 300px */
  .navbar-after-300px {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: rgb(0, 0, 0, 0.6);
    transition: 0.5s linear;
    -webkit-backdrop-filter: blur(1px);
    -moz-backdrop-filter: blur(1px);
    -ms-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }

  .navbar-after-300px ul li a {
    color: white;
    transition: 0.5s linear;
    -webkit-backdrop-filter: blur(1px);
    -moz-backdrop-filter: blur(1px);
    -ms-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }

  .dropdown-link.dropdown-hover,
  .navbar-yellow,
  .dropdown-content:hover {
    background-color: rgb(0, 0, 0, 0.6);
    transition: 0.5s linear;
    -webkit-backdrop-filter: blur(1px);
    -moz-backdrop-filter: blur(1px);
    -ms-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }

  .dropdown-content a:hover {
    color: white;
    transition: 0.5s linear;
    -webkit-backdrop-filter: blur(1px);
    -moz-backdrop-filter: blur(1px);
    -ms-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }

  .logo01 {
    width: 180px;
    height: 29px;
  }

  .beforeabout h3{
    color: #fff;
    font-size: 40px;
    line-height: 80px;
    font-weight: 300;
    letter-spacing: 1.8px;
    text-transform: lowercase;
    padding-bottom: 10px;
  }

  .brandvalueheading h3{
    color:#000000;
    font-size: 34px;
    line-height: 80px;
    font-weight: 400;
    letter-spacing: 1.8px;
    text-transform: lowercase;
  }
    
    
  .container {
    height: 520px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfdfd;
    padding: 0 30px;
  }

  .contmain{
    height:500px;
    width: 100%;
    gap:20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}


@media (min-width: 1201px) {
  .nav {
    display: block;
  }

  .navmobile {
    display: none;
  }
}
